.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    height: 25vh;
    width: 78vw;
    padding: 5%;
    font-family: Ignite;
    border-radius: 10px;
    color: white;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

.logo-wrapper {
    height: 30px;
}

.logo {
    height: auto;
    width: 10%;
}

.card-detail-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    font-weight: lighter;
}

.card-detail-title {
    font-size: 18px;
}

.card-number {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 40px;
    transform: scale(1, 1.5);
}
