.card-details-form {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 5%;
    background-color: rgb(45 69 106 / 20%);
}

.card-details-form > label {
    margin: 5% 0;
    font-size: 16px;
}

.card-details-form > input {
    padding: 2%;
    border: 0;
    font-size: 14px;
    color: white;
    background: rgba(133, 170, 224, 0.2);
}

.card-details-form > button {
    margin: 30% 0 0 0;
    padding: 5% 0;
    border: 0;
    font-size: 30px;
    color: white;
    background: rgba(133, 170, 224, 0.2);
}

.card-details-form > .error-msg {
    margin: 5px 0;
    font-size: 10px;
    font-weight: bold;
}

.card-details-form > input.error {
    border: 1.5px solid #ff4a4ad1;
    /* box-shadow: 0px 0px 5px 2px rgb(235, 8, 8); */
}

.card-details-form > input.error:focus {
    outline: 0;
}

.back-button {
    float: right;
    margin-top: 45%;
    padding: 5px 10px;
    border: 0;
    font-size: 20px;
    color: white;
    background: rgba(133, 170, 224, 0.2);
    box-shadow: 2px 2px rgba(153, 194, 255, 0.377);
}