.welcome-form {
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    width: 90%;
    font-family: Ignite;
}

.welcome-form input {
    margin-top: 5%;
    padding: 2% 5%;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10%;
    outline: none;
    border: 0;
    background: rgba(133, 170, 224, 0.2);
    color: white;
    font-family: Saira;
}

.login-btn {
    width: 50%;
    height: 5vh;
    border: 0;
    font-size: 18px;
    font-weight: bolder;
    font-family: Saira;
    color: white;
    background: #980F5A;
}

.link {
    position: absolute;
    left: 20%;
    bottom: 5%;
    font-family: Saira;
    font-size: 22px;
}

.link a {
    font-weight: bolder;
    color: #980F5A;
}

input.error {
    border: 2px solid #a72525e1;
}