@font-face {
    font-family: Saira;
    src: url(./static/SairaCondensed-Regular.ttf);
}

@font-face {
    font-family: Ignite;
    src: url(./static/Ignite.otf);
}

body {
    position: relative;
    min-height: 90vh;
    color: black;
    font-size: 24px;
    font-family: Ignite;
    padding: 8% 7%;
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

header button {
    width: 20%;
    height: 4vh;
    border: 0;
    font-size: 15px;
    font-family: Saira;
    font-weight: bolder;
    color: black;
    background: #332f31;
}
