@font-face {
    font-family: Saira;
    src: url(./static/SairaCondensed-Regular.ttf);
}

@font-face {
    font-family: Ignite;
    src: url(./static/Ignite.otf);
}

body {
    background-color: #121212;
    color: white;
    font-size: 24px;
    font-family: Ignite;
    padding: 8% 7%;
    overflow-y: hidden;
}

header {
    font-size: 35px;
}

.loader {
    margin: auto;
    margin-top: 80%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #a72525e1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
