@font-face {
    font-family: NotoSans;
    src: url(./static/NotoSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./static/Roboto-Light.ttf);
}

body {
    background-color: #121212;
    color: white;
    font-size: 24px;
    font-family: NotoSans;
    padding: 10% 7%;
    overflow-y: hidden;
}

